<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>URL Shortener Microservice</title>
  </head>

  <body>
    <div class="container">
      <h2>URL Shortener Microservice</h2>
      <h3>User Stories:</h3>
      <ol>
        <li>
          I can POST a URL to <code>/api/shorturl/new</code> and I will receive
          a shortened URL in the JSON response. <br />Example:
          <code>{ "original_url": "www.google.com", "short_url": 1 }</code>
        </li>
        <li>
          If I pass an invalid URL that doesn't follow the
          <code>http(s)://www.example.com(/more/routes)</code> format, the JSON
          response will contain an error like
          <code>{ "error": "invalid URL" }</code> <br />
        </li>
        <li>
          When I visit the shortened URL, it will redirect me to my original
          link.
        </li>
      </ol>

      <h3>Short URL Creation</h3>
      <form action="api/shorturl/new" method="POST">
        <label for="url_input">URL to be shortened:</label>
        <input
          id="url_input"
          type="text"
          name="url"
          value="https://www.google.com"
        />
        <input type="submit" value="POST URL" />
      </form>
      <h3>Example Usage</h3>
      <h4><code>POST</code></h4>
      <code>/api/shorturl/new</code>
      <p>body:</p>
      <code>{ "url": "https://www.google.com" }</code>
      <h4><code>GET</code></h4>
      <code>/api/shorturl/5bff426af8853c1384f86d82</code>

      <p>will redirect to <a href="https://www.google.com">Google</a></p>
    </div>
  </body>
</html>
